.input {
  width: 100%;
  font-size: 2rem;
  padding: 5px;
}

.input-text {
  font-size: 2rem;
  color: grey;
  padding: 5px;
}

.css-input {
  border: none;
  animation: animationBackground 0.5s infinite;
}
